@{
    ViewData["Title"] = "Home";
}

@* the index page is meant to be simple and just displays the picture along with inherited html *@

<div style="display:flex; justify-content:center;">
    <h1>The Joel Hilton Film Collection</h1>
</div>
<br />
<div style="display:flex; justify-content:center;">
    <img src="~/img/JoelHilton.jpeg" height="500" alt="PicOfJoelHilton" />
</div>